<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid #1C6EA4;
            background-color: #EEEEEE;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }
        th, td {
            padding: 30px;
            text-align: left;
        }
        table#t01 {
            width: 100%;
            background-color: #f1f1c1;
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        }
        .myButton {
            box-shadow: 3px 4px 0px 0px #899599;
            background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
            background-color:#ededed;
            border-radius:15px;
            border:1px solid #d6bcd6;
            display:inline-block;
            cursor:pointer;
            color:#3a8a9e;
            font-family:Arial;
            font-size:17px;
            padding:7px 25px;
            text-decoration:none;
            text-shadow:0px 1px 0px #e1e2ed;
        }
        .myButton:hover {
            background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
            background-color:#bab1ba;
        }
        .myButton:active {
            position:relative;
            top:1px;
        }
    </style>
</head>

<div><a> Bonjour Mr/Mme {{ user.username }} </a>
</div>
<div>
    <a> Votre commande de {{commande.quantite}} {{commande.produit.nom}} est Validée </a></div>
<div>
    <a> Voici les détails de votre commande</a>
</div>
<table border="1">
    <thead>
    <tr>
        <th>Votre Nom</th>
        <th>Description</th>
        <th>Nom du produit</th>
        <th>Quantité</th>
        <th>Prix Total</th>
        <th>Etat de la commande</th>



    </tr>
    </thead>
    <tbody>
    <tr class="rem1">
        <td > {{ user.username }}</td>
        <td > {{ commande.produit.description }}</td>
        <td class="invert-image"><a> {{ commande.produit.nom }}</a></td>
        <td>
            {{ commande.quantite }}
        </td>
        <td >{{ commande.prixtotal }} DT </td>

            <td> <a style="color:#00ff00">{{ commande.etat}}</a>   </td>


    </tbody>


